<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <title>Energy Report for {{nmi}}</title>
</head>

<body>
    <div class="container">

        <h1>{{nmi}} <small class="text-muted">{{start|yearmonth}} to {{end|yearmonth}}</small></h1>



        {{tou_chart}}

        <h2>Seasonal Usage</h2>

        <table class="table table-sm table-striped">
            <caption>Average daily usage (kWh)</caption>
            <thead class="thead-light">
                <tr>
                    <th>Year</th>
                    <th>☀️ Summer</th>
                    <th>🍂Autumn</th>
                    <th>❄️Winter</th>
                    <th>🌼Spring</th>
                    <th>🏡Year</th>
                    <th>⬆️Export</th>
                </tr>
            </thead>

            <tbody>
                {% for year in season_data|sort(reverse = True) %}
                {% set year_data = season_data[year] %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{% if year_data['Summer'][0] %}{{ year_data['Summer'][0] }}{% endif %}</td>
                    <td>{% if year_data['Autumn'][0] %}{{ year_data['Autumn'][0] }}{% endif %}</td>
                    <td>{% if year_data['Winter'][0] %}{{ year_data['Winter'][0] }}{% endif %}</td>
                    <td>{% if year_data['Spring'][0] %}{{ year_data['Spring'][0] }}{% endif %}</td>
                    <td>{% if year_data['Year'][0] %}{{ year_data['Year'][0] }}{% endif %}</td>
                    <td>{% if year_data['Export'][0] %}{{ year_data['Export'][0] }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><small>You can compare these seasonal values to averages at the <a
                    href="https://www.energymadeeasy.gov.au/benchmark">Energy
                    Made Easy</a> website.</small></p>

        <h2>Monthly Usage</h2>

        <table class="table table-sm table-striped">
            <caption>Total monthly usage (kWh)</caption>
            <thead class="thead-light">
                <tr>
                    <th>Month</th>
                    <th>#Days</th>
                    <th>Imp (morning)</th>
                    <th>Imp (day)</th>
                    <th>Imp (evening)</th>
                    <th>Imp (night)</th>
                    <th>Imp (total)</th>
                    <th>Exp</th>
                </tr>
            </thead>

            <tbody>
                {% for row in month_data %}
                <tr>
                    <td>{{row.month}}</td>
                    <td>{{row.num_days}}{% if row.incomplete %}*{% endif %}</td>
                    <td>{{row.imp_morning|round(2)}}</td>
                    <td>{{row.imp_day|round(2)}}</td>
                    <td>{{row.imp_evening|round(2)}}</td>
                    <td>{{row.imp_night|round(2)}}</td>
                    <td>{{row.imp|round(2)}}</td>
                    <td>{{row.exp|round(2)}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><small>
                <dl>
                    <dt>Night</dt>
                    <dd>00:00 - 04:00 and 21:00 - 00:00</dd>

                    <dt>Morning</dt>
                    <dd>04:00 - 09:00</dd>

                    <dt>Day</dt>
                    <dd>09:00 - 16:00</dd>

                    <dt>Evening</dt>
                    <dd>16:00 - 21:00</dd>
                </dl>
            </small>
        </p>

        <h2>More Charts</h2>
        <img src="{{imp_overview_chart}}" class="img-fluid">

        {% if exp_overview_chart %}
        <img src="{{exp_overview_chart}}" class="img-fluid">
        {% endif %}

        {{daily_chart}}
    </div><!-- Container -->

</body>

</html>